<html>
    <head>
        <title>Code Daemons</title>
        <style>
            
            html{
                background-color:#000;
                background-size: 100%;
            }
            .img1{
                width:100%;
                position:absolute;
                top:0%;
                height: 40%;
            }
            h1{
                position: absolute;
                top: 2%;
                left: 35%;
                font-size: 60px;
                font-family:sans-serif cursive;
                font-weight: 600;
                color:#fff;
            }
            h2{
                position: absolute;
                left: 600px;
                top: 20%;
                font-size: 20px;
                color:#fff;
            }
            ul {
                list-style-type:none;
                margin: 0;
                padding: 0;
                display: block;

            }
            .navbar{
                background-color: #333;
                overflow: hidden;
                position: absolute;
                top: 40%;
                width: 100%;
            }
            .navbar a{
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 30px;
                text-decoration: none;
                font-size: 17px;
                float: right;
            }
            .navbar a:hover {
                background-color: lightblue;
                color: black;
            }
            .Greeting{
                position:absolute;
                top:40%;
                font-size:40px;
                font-weight:900;
                color:#fff;
            }
            .Grid{
                display: grid;
                grid-template-columns: auto auto auto;
                padding: 10px;
                position:absolute;
                top:55%;
            }
            .element{
                border:3px solid #133;
                display:table;
                float: left;
                width: 95%;
                padding: 5px;
                border-radius:30px;
                border-collapse: seperate;
                margin:10px;
                color:#000;
                background-color:#fff;
            }
            .element img{
                height:300px;
                width:400px;
                border-radius:60px;
            }
            .element p{
                font-size:18px;
                font-weight:900;
                margin:10px;
            }

        </style>
    </head>
    <body>
        <img class="img1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGp6w2LIG3JIXoV5t4B9SHsMAU4aXDiO3WY7k-PyvOlsnxPvZUTg" alt="Code" >
        <h1>Code Daemons</h1>
        <kbd><h2>Truth can only be found in one place: the code.</h2></kbd>
        <nav class="navbar">
            <ul>
                <li><a href="/" class="butt">Log Out</a></li>
                <li><a href="/<%=user%>/questions" class="butt">Questions</a></li>
                <li><a href="/<%=user%>/leaderboard" class="butt">Leaderboard</a></li>
                <li><a href="/<%=user%>/dashboard" class="butt">Dashboard</a></li>
            </ul>
        </nav>
        <p class="Greeting">Hello <%=user%>!!</p>

        <code>
        <div class="Grid">
            <%for(var i=0;i<companyr.length;i++){%>
            <a href='/<%=user%>/questions/<%=companyr[i].cid%>'>
            <div class="element">
                <img src="<%=companyr[i].url%>">
                <p>Name:<%=companyr[i].compname%></p>
                <p>Description:<%=companyr[i].des%></p>
            </div>
            </a>
            <%}%>
        </div>
        </code>
    </body>
</html>